In [17]:
# 1.Write Python code that prints your name, student number and email address. An example runs of the program: Bob ST1001 bob@gmail.com

In [5]:
print('Name:','Rahul Sivan')
print('Student No:','ST 103')
print('email id:','rahul@gmail.com')

Name: Rahul Sivan
Student No: ST 103
email id: rahul@gmail.com

In [7]:
# 2.Write Python code that prints your name, student number and email address using escape sequences. An example runs of the program: Bob ST1001 bob@gmail.com

In [21]:
print('Bob\nST001\nBob@gmail.com')

Bob
ST001
Bob@gmail.com

In [23]:
# 3.Write Python code that add, subtract, multiply and divide the two numbers. You can use the two numbers 14 and 7. An example run of the program: 14 + 7 = 21 14 * 7 = 98 14 – 7 = 7 14 / 7 = 2

In [27]:
print('Sum of 14 and 7 is:',14+7)
print('Difference of 14 and 7 is:',14-7)
print('product of 14 and 7 is:',14*7)
print('Division of 14 and 7 is:',14/7)

Sum of 14 and 7 is: 21
Difference of 14 and 7 is: 7
product of 14 and 7 is: 98
Division of 14 and 7 is: 2.0

In [29]:
#4.Write Python code that displays the numbers from 1 to 5 as steps. An example runs of the program: 1 2 3 4 5

In [33]:
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

In [35]:
#5.Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen: An example runs of the program: "SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment".

In [43]:
print('"SDK" stands for "Software Development Kit",\nwhereas\n"IDE" stands for "Integrated Development\nEnvironment".')

"SDK" stands for "Software Development Kit",
whereas
"IDE" stands for "Integrated Development
Environment".

In [45]:
#6.Practice and check the output print("python is an \"awesome\" language.") print("python\n\t2023") print('I\'m from Entri.\b') print("\65") print("\x65") print("Entri", "2023", sep="\n") print("Entri", "2023", sep="\b") print("Entri", "2023", sep="*", end="\b\b\b\b")

In [59]:
print("python is an \"awesome\" language.") 
print("python\n\t2023") 
print('I\'m from Entri.\b') 
print("\65") 
print("\x65") 
print("Entri", "2023", sep="\n") 
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

In [61]:
#7.Define the variables below. Print the types of each variable. What is the sum of your variables? (Hint: use a type conversion function.) What datatype is the sum? num=23 textnum="57" decimal=98.3

In [67]:
num=23 
textnum="57"
decimal=98.3
print(type(num))
print(type(textnum))
print(type(decimal))
sum=num+int(textnum)+decimal
print('sum is:',sum)
print('Datatype of sum is:',type(sum))

<class 'int'>
<class 'str'>
<class 'float'>
sum is: 178.3
Datatype of sum is: <class 'float'>

In [69]:
#8.calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values (hint) total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hour

In [73]:
days_in_a_year=365
minutes_in_an_hour=60
hours_in_a_day=24
total_minutes_in_an_year=days_in_a_year*minutes_in_an_hour*hours_in_a_day
print('The total no: of minutes in an year is:',total_minutes_in_an_year)

The total no: of minutes in an year is: 525600

In [75]:
#9.Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting. An example runs of the program: Please enter you name: Tony Hi Tony, welcome to Python programming :)

In [79]:
name=input('Enter your name:')
print(f'Hi {name}, welcome to python programming:)')

Enter your name: Tony

Hi Tony, welcome to python programming:)

In [81]:
#10.Name your file: PoundsToDollars.py Write a program that asks the user to enter an amount in pounds (£) and the program calculates and converts an amount in dollar ($) An example runs of the program: Please enter amount in pounds: XXX £ XXX are $ XXX

In [97]:
p=float(input('Please enter amount in Pounds(£):'))
d=p*1.24
print(f' £{p} are $ {d}')

Please enter amount in Pounds(£): 32.7

 £32.7 are $ 40.548