In [ ]:
# Exercise 1:Create a numpy array containing the numbers from 1 to 10, and then reshape it to a 2x5 matrix.

In [1]:
import numpy as np

In [19]:
arr1=np.arange(1,11)
arr1.reshape(2,5)
arr1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [25]:
# Exercise 2:Create a numpy array containing the numbers from 1 to 20, and then extract the elements between the 5th and 15th index.

In [27]:
arr2=np.arange(1,21)
ext=arr2[5:15]
print('The elements between 5th and 15th index is:',ext)

The elements between 5th and 15th index is: [ 6  7  8  9 10 11 12 13 14 15]

In [33]:
# Exercise 3:Create a Pandas series with the following data: {'apples': 3, 'bananas': 2, 'oranges': 1}. Then, add a new item to the series with the key 'pears' and the value 4.

In [3]:
import pandas as pd

In [41]:
ser=pd.Series([3,2,1],index=['apples','bananas','oranges'])
ser

apples     3
bananas    2
oranges    1
dtype: int64

In [57]:
ser['pears']=4
ser

apples     3
bananas    2
oranges    1
pears      4
dtype: int64

In [59]:
# Exercise 4:Create a dataframe with the following columns: name, age, and gender. The dataframe should have 10 rows of data.

In [5]:
data = {
    'name': ['Ram', 'Bob', 'Chand', 'Dex', 'Edwin', 'Fits', 'George', 'Hanna', 'Ivin', 'June'],
    'age': [25, 35, 32, 28, 22, 23, 33, 29, 40, 37],
    'gender': ['Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print('DataFrame:\n',df)

DataFrame:
      name  age  gender
0     Ram   25  Female
1     Bob   35    Male
2   Chand   32    Male
3     Dex   28  Female
4   Edwin   22    Male
5    Fits   23  Female
6  George   33    Male
7   Hanna   29  Female
8    Ivin   40    Male
9    June   37  Female

In [70]:
# Exercise 5:Add a new column to the data frame created in question 1, called occupation. The values for this column should be Programmer, Manager, and Analyst, corresponding to the rows in the dataframe.

In [7]:
df['occupation']=['Programmer','Manager','Analyst','Programmer','Manager','Analyst','Programmer','Manager','Analyst','Programmer']
print('updated_DataFrame is:\n',df)

updated_DataFrame is:
      name  age  gender  occupation
0     Ram   25  Female  Programmer
1     Bob   35    Male     Manager
2   Chand   32    Male     Analyst
3     Dex   28  Female  Programmer
4   Edwin   22    Male     Manager
5    Fits   23  Female     Analyst
6  George   33    Male  Programmer
7   Hanna   29  Female     Manager
8    Ivin   40    Male     Analyst
9    June   37  Female  Programmer

In [78]:
# xercise 6:Select the rows of the dataframe where the age is greater than or equal to 30.

In [86]:
df1=df[df['age']>=30]
print('Dataframe where age is greater than or equal to 30 is:\n',df1)

Dataframe where age is greater than or equal to 30 is:
      name  age  gender  occupation
1     Bob   35    Male     Manager
2   Chand   32    Male     Analyst
6  George   33    Male  Programmer
8    Ivin   40    Male     Analyst
9    June   37  Female  Programmer

In [88]:
# Exercise 7:Convert this dataframe to a csv file and read that csv file, finally display the contents.

In [94]:
df.to_csv('dataframe.csv',index=False)
df_from_csv = pd.read_csv('dataframe.csv')
print("The CSV file is:")
print(df_from_csv)

The CSV file is:
     name  age  gender  occupation
0     Ram   25  Female  Programmer
1     Bob   35    Male     Manager
2   Chand   32    Male     Analyst
3     Dex   28  Female  Programmer
4   Edwin   22    Male     Manager
5    Fits   23  Female     Analyst
6  George   33    Male  Programmer
7   Hanna   29  Female     Manager
8    Ivin   40    Male     Analyst
9    June   37  Female  Programmer