# Assignment 2.Data structures in Python

In [4]:
# Q1. Create a list of 5 random numbers and print the list.

In [6]:
list=[1,5,7,8,10]
print(list)

[1, 5, 7, 8, 10]

In [8]:
# Q2. Insert 3 new values to the list and print the updated list.

In [78]:
list=[1,5,7,8,10]
list.append(4)
list.append(9)
list.append(13)
print(list)

[1, 5, 7, 8, 10, 4, 9, 13]

In [1]:
# Q3. Try to use a for loop to print each element in the list.

In [5]:
list=[1,5,7,8,10]
for i in list:
    print(i)

1
5
7
8
10

# Topic: Dictionary Exercise

In [9]:
# Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.

In [17]:
dict={'name':'John','age':25,'address':'New York'}
dict

{'name': 'John', 'age': 25, 'address': 'New York'}

In [19]:
# Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.

In [23]:
dict.update({'phone':1234567890})
dict

{'name': 'John', 'age': 25, 'address': 'New York', 'phone': 1234567890}

 # Topic: Set

In [28]:
# Q1.Create a set with values 1, 2, 3, 4, and 5.

In [38]:
set={1,2,3,4,5}
set

{1, 2, 3, 4, 5}

In [42]:
# Q2. Add the value 6 to the set created in Q1.

In [46]:
set.update({6})
set

{1, 2, 3, 4, 5, 6}

In [48]:
# Q3. Remove the value 3 from the set created in Q1.

In [50]:
set.remove(3)
set

{1, 2, 4, 5, 6}

# Topic: Tuple

In [54]:
# Q1. Create a tuple with values 1, 2, 3, and 4

In [56]:
tup=(1,2,3,4)
tup

(1, 2, 3, 4)

In [58]:
type(tup)

tuple

In [60]:
# 2. Print the length of the tuple created in Q1.

In [62]:
len(tup)

4